<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
 
 
   <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="location">
       <value>file:C:\Users\omar\Desktop\PROYECYOS\Properties\RecPolitica.properties</value>  
      <!--      <value>file:///media/DISCO1/PROPS/RecPolitica.properties</value> -->
      </property> 
   </bean>
  
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${BaseDatos.driverClassName}"/>
    <property name="url" value="${BaseDatos.url}"/>
    <property name="username" value="${BaseDatos.username}"/>
    <property name="password" value="${BaseDatos.password}"/>
  </bean>
  
  
  <bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="mappingResources">
      <list>
        <value>hibernate/hibernate.xml</value> 
      </list>
    </property>
    
    <property name="hibernateProperties">
    <value>
      hibernate.show_sql=true    
      hibernate.dialect=org.hibernate.dialect.MySQLDialect
      hibernate.hbm2ddl.auto=update
      hibernate.connection.autocommit=false
      hibernate.current_session_context_class=thread
    </value>
    </property>
  </bean>

  
  <bean id="PartidosDAO" class="DAO.PartidosDAO">
    <property name="sessionFactory" ref="mySessionFactory" />
  </bean>

  <bean id="NotasDAO" class="DAO.NotasDAO">
    <property name="sessionFactory" ref="mySessionFactory" />
  </bean>

  <bean id="CasosDAO" class="DAO.CasosDAO">
    <property name="sessionFactory" ref="mySessionFactory" />
  </bean>
    
  <bean id="ArticulosDAO" class="DAO.ArticulosDAO">
    <property name="sessionFactory" ref="mySessionFactory" />
  </bean>
  
  <bean id="PaginaDAO" class="DAO.PaginaDAO">
    <property name="sessionFactory" ref="mySessionFactory" />
  </bean>
  
  <bean id="UsuariosDAO" class="DAO.UsuariosDAO">
    <property name="sessionFactory" ref="mySessionFactory" />
     <property name="hash5" ref="Hash5" />
  </bean>  
  
  <bean id="Hash5" class="helpers.Hash5"/> 

</beans>